
@viewport {
    width: device-width ;
    zoom: 0.0 ;
    
  }

  #latest
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:  3%;
    margin-bottom: 0px;
    letter-spacing: 15px;
    position: sticky;
    z-index: 5;
    color: Black;
    background: transparent;
    font-size: 2em;
    margin-right: -18px;


    /* border: 1px solid green; */


    

}
#table{

    border: 2px solid black;
    align-items: center;
    display: grid;

    margin-left: 10%;
    width: 80%;
    margin-bottom: 10%;


    
    /* display: grid;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-right: -0px;
    
    border: 2px solid black;
    margin-left: -20px; 
    margin-right: -0%;
    margin-bottom: 10%;
    padding: 0px;
  */

} 
#table #content p{
    
    margin-top: -0px;
   

}
#latest1
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:  0%;
    margin-bottom: 3%;
    letter-spacing: 3px;
    position: sticky;
    z-index: 5;
    color: Black;
    font-size: 70%;
    margin-right: -18px;
    padding: 0px;
    
    
    /* border: 1px solid blue; */

    

}




#img
{
    
    width: 100%;
    /* max-height: 150vh; */
    border: 1px solid black;
    margin-top: -0px;
    margin-bottom: 10px;
    margin-right: 10px;

    /* padding-top: -200px; */
    
    

  

    
}
#picPlace
{
    width: 39%;
    height: 39%;

   vertical-align: top;

}




#content p
{
    top: 0px;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 0px;
    margin-right: -2px;

    color: black;
    border: 1px solid black;
    text-align: justify;
    text-justify: inter-word;
    margin-top: 0px;

    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: -0.1%;
    font-family: 'Roboto', sans-serif;
    font-weight: 010;

    vertical-align: top;
    

}
#content
{
    vertical-align: top;
}
p:first-letter {
    float: left;
    font-size: 45px;
    line-height: 1;
    font-weight: lighter;
    margin-right: 9px;
    color: black;
    font-family: 'Rokkitt', serif;
    text-shadow: grey .05em .05em;
}
#firstletter::first-letter
{
    float: left;
    font-size: 45px;
    line-height: 1;
    font-weight: lighter;
    margin-right: 9px;
    color: black;
    font-family: 'Rokkitt', serif;
    text-shadow: grey .05em .05em;
}



 /* making it fixed*/
 #late{
    
    background-color: white;
    z-index: 1;
    border: 1px solid white;
    padding: 0px;
    width: 100%;
    border-bottom: 1px solid black;
    /* border: 1px solid pink; */

    margin-left: -15px;
    padding-right: 25px;
    margin-top: -0px;

  }
  .fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding-left: -200px;
  }
  .fixed + #table {
    margin-top: 11%;
  }
  #home
  {
      text-decoration: none;
  }

/* Khusra Version  */
@media screen and (max-width : 700px) {

    #latest
    {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top:  3%;
        margin-bottom: 0px;
        letter-spacing: 7px;
        position: sticky;
        z-index: 5;
        color: Black;
        background: transparent;
        font-size: 1.2em;
    
        
    
        
    
    }
    #latest1
    {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top:  0%;
        margin-bottom: 3%;
        letter-spacing: 5px;
        position: sticky;
        z-index: 5;
        color: Black;
        font-size: 45%;
        
        
    
        
    
    }
    /* #table{

        
        margin-left: 10%;
        width: 80%;
        margin-bottom: 10%;

        padding-bottom: 4%;

        
        
    
    }  */
}
/* Wadda phone */
@media screen and (max-width : 500px) {

    .fixed + #table {
        margin-top: 55px;

      }
    #late{
        width: 100%;
        padding-top: 0px;        
    }
    #latest
    {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top:  3%;
        margin-bottom: 0px;
        letter-spacing: 7px;
        position: sticky;
        z-index: 5;
        color: Black;
        background: transparent;
        font-size: 1.3em;
    
        
    
        
    
    }
    #latest1
    {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top:  0%;
        margin-bottom: 3%;
        letter-spacing: 5px;
        position: sticky;
        z-index: 5;
        color: Black;
        font-size: 50%;
        
        
    
        
    
    }
    iframe
    {
        height: 800px;
    }
    /* #table{

        
        margin-left: 3%;
        width: 94%;
        margin-bottom: 10%;

        
        
    
    }  */
    #table td{
        display: block;
        justify-content: top;
       
        position: relative;
        
    
    }
    #picPlace img{   
        padding-bottom: 0px;
    
       
    
    }
    #img
    {
        width: 100%;
        max-height: 150vh;
        margin-top: -15.4%;
        border: 1px solid black;
        
    

  

    }
    #picPlace
    {
        /* border: 3px solid black; */
        width: 100%;
        margin-left: -2px;
        margin-top: 15%;
        margin-bottom: -15px;
    }

    #content p
    {
       
        padding-bottom: 5%;
        

        

    }
}
/* lamba phone */
@media screen and (max-width : 405px) {
    .fixed + #table {
        margin-top: 11%;
      }
    #late{
        width: 100%;
        padding-top: 0px;        
    }
    
    #latest
    {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top:  3%;
        margin-bottom: 0px;
        letter-spacing: 7px;
        position: sticky;
        z-index: 5;
        color: Black;
        background: transparent;
        font-size: 1em;
    
        
    
        
    
    }
    #latest1
    {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top:  0%;
        margin-bottom: 3%;
        letter-spacing: 5px;
        position: sticky;
        z-index: 5;
        color: Black;
        font-size: 50%;
        
        
    
        
    
    }
    #table{

        padding-bottom: 5%;
        
        margin-left: 3%;
        width: 94%;
        margin-bottom: 10%;
    


    
        
        
    
    } 
    #table td{
        display: block;
        justify-content: top;
       
        position: relative;
        
    
    }
    #picPlace img{   
        padding-bottom: 0px;
    
       
    
    }
    #img
    {
        width: 100%;
        max-height: 150vh;
        margin-left: 0px;
        border: 1px solid black;
        
    

  

    }
    #picPlace
    {
        /* border: 3px solid black; */
        width: 100%;
        margin-left: -2px;
        margin-top: 15%;

    }

    #content p
    {
        padding-left: 5%;
        padding-right: 5%;
        margin-left: -2px;
        margin-right: -2px;
        color: black;
        border: 1px solid black;
        text-align: justify;
        text-justify: inter-word;
        margin-top: -5px;
        padding-top: 15px;
        padding-bottom: 5%;
        margin-bottom: -22px;
        font-family: 'Roboto', sans-serif;
        font-weight: 010;
        filter: brightness(100%);

        

    }
}

