html, body { height: 100%; width: 100%; margin: 0px;padding:0px; border: 0px solid purple;overflow-x: hidden;}

.table{
    border: 0px;
}
.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }
  .navbar .navbar-collapse {
    text-align: center;
  }
.navbar{

    border-bottom: 1px solid black;

}

.mainL{
    
    padding-top: 10vh; padding-bottom: 3vh; 
    font-family: 'Playfair Display', serif;    color: white;
    position: absolute;
    top:60vh;
    text-align: center;
    width: 100%;
    font-size: 10.0vh;
}
.mainLF{
    
    padding-top: 10vh; padding-bottom: 3vh; 
    font-family: 'Playfair Display', serif;    color: white;
    position: absolute;
    top:0vh;
    text-align: center;
    width: 100%;
    font-size: 5.0vh;
}
.mainLB{border: 0px solid purple;
    margin-top: -3vh; padding-bottom: 0vh; 
    font-family: 'Playfair Display', serif;    color: black;
    text-align: center;
    font-size: 10.0vh;
}
.mainLBS{border: 0px solid purple;
    margin-top: 3vh; margin-bottom: 0vh; 
    font-family: 'Playfair Display', serif;    color: black;
    text-align: center;
    font-size: 7.0vh;
    letter-spacing: -0.7vh;
}
.sloganLB{border: 0px solid green;
    margin-top: -7vh; margin-bottom: -2vh; 
    font-family: 'Playfair Display', serif;    color: black;
    text-align: center;
    font-size: 5.0vh;

}
#mainTable{
    font-family: 'Playfair Display', serif;    color: white;
    position: absolute;
    top:50vh;
    text-align: center;
    font-size: 5.0vh;
    padding-left: -3%;
    
}

#mainTable td{
    padding: 3vh;
}
img{
    max-width: 100%;
    max-height: 100%;
    /* display: block; remove extra space below image */
}
.ys{
    border: 0px solid red;
    /* float: left; */
    width: 33%;
    padding-left: 0px;
    padding-bottom: 5px;

}
.ys:hover{
   filter: brightness(50%)
}
#bg{
    height: 100vh;
    background-image: url("img/bg/bg2.jpg");
    background-size: cover;
    background-position: top;
    filter: brightness(50%);
}


 #mainTable {
     margin-left: 0%;
     width: 50% !important;  
     top:35vh;
     font-size: 12vh;
     color: white;
 
  
  }
.linkC{
    color: white;
}
.linkC:hover { 
    color: grey; 
} /* CSS link hover (green) */


#storyTable{
    vertical-align: top;
    border: 0px solid rgb(73, 75, 73);
    width: 80%;
}
#storyPicture{
    padding-top: 5vh;
    padding-left: 5vh;
    width: 40%;
    border: 0px solid blue;
    padding-bottom: 10vh;


}
#storyContent{

    padding: 5vh;
    padding-top: 7vh;

    border: 0px solid pink;
    font-family: 'Playfair Display', serif;    color: black;
    letter-spacing: 0.02em;
    text-align: justify;
    text-justify: inter-word;


}
#storyContent:first-letter {
    float: left;
    font-size: 45px;
    line-height: 1;
    font-weight: lighter;
    margin-right: 9px;
    color: black;
    font-family: 'Rokkitt', serif;
    text-shadow: grey .05em .05em;
}
#firstletter::first-letter
{
    float: left;
    font-size: 45px;
    line-height: 1;
    font-weight: lighter;
    margin-right: 9px;
    color: black;
    font-family: 'Rokkitt', serif;
    text-shadow: grey .05em .05em;
}
#related{
    text-align: center;
    color: gray;
    font-weight: bolder;

}
#stories{
    padding-left: 4px;
   border: 0px solid purple;

}
.col-md-4{
    border: 0px solid white;
    padding: 3vh;
}
.row{
    border: 0px solid white;
    padding: 3vh;
}
.context-dark, .bg-gray-dark, .bg-primary {
    color: rgba(255, 255, 255, 1);
}

.footer-classic a, .footer-classic a:focus, .footer-classic a:active {
    color: #ffffff;
}
.nav-list li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-list li a:hover:before {
    margin-left: 0;
    opacity: 1;
    visibility: visible;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 23px;
    font: 900 13px/1 "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
}
.social-container .col {
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.nav-list li a:before {
    content: "\f14f";
    font: 400 21px/1 "Material Design Icons";
    color: #4d6de6;
    display: inline-block;
    vertical-align: baseline;
    margin-left: -28px;
    margin-right: 7px;
    opacity: 0;
    visibility: hidden;
    transition: .22s ease;
}
#linkList{
    padding-top:8vh;
}
#igLogo{
    width:4%; margin-left:48%; height: 4%;
}


@media screen and (max-width :900px) {

.ys{
    border: 0px solid red;
    /* float: left; */
    width: 32.8%;
    padding-left: 0px;
    padding-bottom: 5px;

}

#igLogo{
    width:10%; margin-left:45%
}
#linkList{
    padding-top:4vh;
}
.mainLF{

    padding-top: 3vh; padding-bottom: 3vh; 
    font-family: 'Playfair Display', serif;    color: white;
    position: absolute;
    top:60vh;
    text-align: center;
    width: 100%;
    font-size: 3.0vh;
}
.ys{
    border: 0px solid red;
    width: 49.0%;
    padding-left: 0px;
}


.mainLB{
    margin-top: -2vh; padding-bottom: 0vh; 
    font-size: 4.0vh;
}
.sloganLB{
    margin-top: -4vh; padding-bottom: 1vh; 

    font-size: 2.0vh;
}
.mainLBS{border: 0px solid purple;
    font-size: 5.0vh;
}
#mainTable td{
    padding: 1vh;
}
.mainL{
    padding-top: 10vh; padding-bottom: 3vh; 
    font-family: 'Playfair Display', serif;    color: white;
    position: absolute;
    top:60vh;
    text-align: center;
    width: 120%;
    font-size: 3.0vh;


}
#bg{
    height: 100vh;
    background-image: url("img/bg/bg3.jpg");
    background-size: cover;
    background-position: top;
    filter: brightness(50%);

}
#mainTable tr td{
   display: block;
}

#sTT tr td{
    border:00px solid purple;
    display: block;
 }

 #storyTable{
    vertical-align: top;
    border: 0px solid rgb(73, 75, 73);
    width: 80%;
}
#storyPicture{
    padding: 2vh;
    padding-left: 2vh;
    width: 100%;
    border: 0px solid blue;
    padding-bottom: 0vh;



}
#storyContent{

    padding: 2vh;
    padding-top: 2vh;

    border: 0px solid pink;
    font-family: 'Playfair Display', serif;    color: black;
    letter-spacing: 0.02em;
    text-align: justify;
    text-justify: inter-word;


}

#mainTable {
    margin-left: 0%;
    width: 50% !important;  
    top:32vh;
    font-size: 7vh;


 
 }

}


}

@media screen and (max-width :600px) {

    #igLogo{
        width:10%; margin-left:45%
    }
    #linkList{
        padding-top:4vh;
    }
    .mainLF{
    
        padding-top: 3vh; padding-bottom: 3vh; 
        font-family: 'Playfair Display', serif;    color: white;
        position: absolute;
        top:60vh;
        text-align: center;
        width: 100%;
        font-size: 3.0vh;
    }
    .ys{
        border: 0px solid red;
        width: 49.0%;
        padding-left: 0px;
    }


    .mainLB{
        margin-top: -2vh; padding-bottom: 0vh; 
        font-size: 4.0vh;
    }
    .sloganLB{
        margin-top: -5vh; padding-bottom: 1vh; 

        font-size: 2.0vh;
    }
    .mainLBS{border: 0px solid purple;
        font-size: 5.0vh;
    }
    #mainTable td{
        padding: 1vh;
    }
    .mainL{
        padding-top: 10vh; padding-bottom: 3vh; 
        font-family: 'Playfair Display', serif;    color: white;
        position: absolute;
        top:60vh;
        text-align: center;
        width: 120%;
        font-size: 4.0vh;
    
    
    }
    #bg{
        height: 100vh;
        background-image: url("img/bg/bg3.jpg");
        background-size: cover;
        background-position: top;
        filter: brightness(50%);
    
    }
    #mainTable tr td{
       display: block;
    }

    #sTT tr td{
        border:00px solid purple;
        display: block;
     }
    
     #storyTable{
        vertical-align: top;
        border: 0px solid rgb(73, 75, 73);
        width: 80%;
    }
    #storyPicture{
        padding: 2vh;
        padding-left: 2vh;
        width: 100%;
        border: 0px solid blue;
        padding-bottom: 0vh;

    
    
    }
    #storyContent{
    
        padding: 2vh;
        padding-top: 2vh;
    
        border: 0px solid pink;
        font-family: 'Playfair Display', serif;    color: black;
        letter-spacing: 0.02em;
        text-align: justify;
        text-justify: inter-word;
    
    
    }

    #mainTable {
        margin-left: 0%;
        width: 50% !important;  
        top:32vh;
        font-size: 7vh;

    
     
     }
    
}